<% @page_title = "Stores" %>
<div class="Find Store">
  <h1>Search for Store</h1>
  <%= form_for(:biz, :url => {:controller => 'bizs', :action => 'create'}) do |f| %>
      <p> Search Store:</br> <%= name = gets %> </p>
      <%= return Biz.find_by! username: name %>
    <%= f.submit :Search %>
  <% end %>
  <% if @biz.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @biz.errors.full_messages %>
      <p style:"color:red"><%= message_error %></p>
    <% end %>
    </ul>
  <% end %>
</div>